.hero-container {
  background-color: var(--light-color);
}

.hero-container .hero-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 32px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (width >= 900px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
}

.hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--blue-primary);
  border-radius: 4px;
  min-height: 300px;
  overflow: hidden;
}

.hero .hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (width >= 900px) {
  .hero .hero-image {
    min-height: 400px;
  }
}

.hero .hero-text {
  order: -1;
}

.hero h1 {
  color: var(--text-color);
  font-size: var(--heading-font-size-xxl);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero p {
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  line-height: 1.5;
  margin: 0;
}

.hero .button-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.hero a.button:any-link {
  margin: 0;
}

.hero picture {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.hero img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
